/* About Me */
.aboutme-section {
    margin-top: 7rem;
    padding-bottom: 10rem;
}

.aboutme-header {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.aboutme-header:before {
      content: '';
      border-bottom: .5rem solid rgb(104,110,255);
      width: 12rem;
      box-sizing: inherit;
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      left: 0rem;
      top: 3rem;
      z-index: -10;
  }
  @media (max-width:480px) {
    .aboutme-header {
      font-size: 1.5rem !important; 
    }
    .aboutme-header:before {
      border-bottom: .5rem solid rgb(104,110,255);
      width: 7.5rem;
      left: 0rem;
      top: 2rem;
    }
  }
  .aboutme-container {
    font-size: 1.75rem;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutme-content-holder {
    margin-top: 1.5rem !important;
    justify-content: center;
    align-items: center;
  }
  .aboutme-imageholder, .aboutMe-header.description-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-grow: 0;
  }
  @media (max-width:990px){
    .aboutMe-header.description-container {
      margin-top: 2rem;
      width:90% !important;
      font-size: 1rem !important;
      margin-left: auto !important;
      margin-right: auto !important;
   }
   .aboutMeImageMain, .aboutMeImage4 {
    width: 11rem !important;
  }
  .aboutMeImage2, .aboutMeImage3 {
    height: 11.5rem !important;
  }
  
  }
  .aboutme-imageholder {
    display: flex;
    gap: 1.5rem;
    align-items: start;
    flex-grow: 0 !important;
    width: min-content !important;
  }
  .aboutMeImageMain {
    width: 15rem;
    height: auto;
    border-radius: 1rem;
  }
  .aboutme-imageholder.large-container {
    display: flex;
    flex-direction: column;
    width: min-content;
  }
  .aboutme-imageholder.side-container {
    display: flex;
    flex-direction: column;
    width: min-content;
  }
  .aboutMeImage2, .aboutMeImage3 {
    height: 15.6rem;
    border-radius: 1rem;
  }
  .aboutMeImage4 {
    width: 15rem;
    border-radius: 1rem;
  }
  .aboutme-imageholder img {
    transition: transform .3s ease;
  }
  .aboutme-imageholder img:hover {
    transform: scale(1.1);
  }
  .aboutMe-header.description-container {
    border-radius: 1rem;
    background: linear-gradient(45deg, rgba(3, 5, 20, 0.1
    ), rgba(10, 13, 55, .3));
    overflow: hidden;
    border: 2px solid #1b2c68a0;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    width: 35%;
    margin-left: 2rem;
    color: #e4e4e4;
  }
  .aboutMe-header.description {
    padding: 1rem;
  }
  .AboutMeConnectButton button {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem .8rem;
    color: white;
    background: linear-gradient(to right, #ec4899, #8b5cf6);
    border: none;
    display: inline-block;
    border-radius: 2rem;
    transition: transform .3s ease;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .AboutMeConnectButton button:hover {
    transform: scale(1.1);
  }
  .aboutme-content-holder a {
    color: transparent;
  }
  .window-topbar {
    display: flex;

    align-items: center !important;
    justify-content: space-between;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: .15rem solid rgba(49, 46, 129, 1);
  }
  .window-items {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    width: 15%;
  }
  
  .circle {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
  }
  
  .red {
    background-color: #f87171;
  }
  
  .orange {
    background-color: #fb923c;
  }
  
  .green {
    background-color: #61e48f;
  }