/* Nav Bar */
.navBarContainer {
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
    max-width: none !important;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  .navbar-nav {
    justify-content: left !important;
    flex-basis: content!important; 
    align-items: center !important;
  }
  nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
    display: flex !important;
    flex-direction: row;
  }
  nav.navbar.scrolled {
    padding: 0;
    background-color: rgba(9, 11, 51, 0.5);
  }
  .navbar-text {
    padding: 1rem;
  }
  .navbar-brand {
    margin: 0 !important;
  }
  .navbar-logo {
    max-height: 3.5rem;
    max-width: 100%;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 800;
    color: rgb(226 232 240) !important;
    letter-spacing: 0.1rem;
    padding: 0 1.4rem;
    font-size: 1rem;
    opacity: 0.55;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  
  .social-icon a {
      width: 2.5rem;
      height: 2.5rem;
      background: rgba(217, 217, 217, 0.1);
      display: inline-flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .social-icon a::before {
      content: "";
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      background-color: #ffffff;
      border-radius: 50%;
      transform: scale(0);
        transition: 0.3s ease-in-out;
  }
  .social-icon a:hover::before {
    transform: scale(1);
  }
  .social-icon a img {
      width: 40%;
      z-index: 1;
      transition: .9s ease-in-out;
  }
  .social-icon a:hover img {
      filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
  .navOptions {
    flex-direction: row !important;
    font-size: 1rem;
  }
  @media (max-width:820px) {
    nav.navbar .navbar-nav .nav-link.navbar-link {
      padding: 0 2vw;
      font-size: 2vw;
      opacity: 0.55;
    }
    .social-icon {
      display: none;
    }
  }
  @media (max-width:650px) {
    .navOptions.navbar-nav a:nth-child(5), .navOptions.navbar-nav a:nth-child(6), .navOptions.navbar-nav a:nth-child(7) {
      display: none !important;
    }
    nav.navbar .navbar-nav .nav-link.navbar-link {
      font-size: .8rem;
    }
  }