.ProjectHeader {
    font-size: 2.5rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.Project-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width:50%
}
.Projects {
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(3, 5, 20, 0.9), rgba(10, 13, 55, .8));
    border: 2px solid #1b2c68a0;
    font-size: 1.2rem;
    font-weight: 200;
}
.projects-topbar {
    justify-content: start !important;
    align-items: center !important;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: .15rem solid rgba(49, 46, 129, 1);
}
.projects-items {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
}
.ProjectName {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
}
.ProjectImage {
    border-radius: 1rem;
    width: 50%;
    margin: 1.5rem;
}
.ProjectRole, .ProjectTools, .ProjectDescription {
    display: flex;
    gap: .5rem;
}
.Role-header, .Tools-header, .Descript-header {
    color: #ec4899;
    font-weight: 800 !important;
}
