/* Timeline.css */
.experience-header {
  padding-bottom: 2rem;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2rem;
  }
  
  .timeline-line {
    position: absolute;
    top: 3.4rem;
    width: .4rem;
    background-color: rgb(104, 110, 255);;
    height: 75.5%;
  }
  .timeline-subcontent {
    display: flex;
    align-items: center;
  }
  
  .timeline-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    width: 23%;
    margin-bottom: 3%;
    transition: transform 0.3s ease;
  }

  .timeline-item:nth-child(odd) .timeline-content {
    position: relative;
    align-items: flex-start;
    text-align: start;
    left: 70%;
  }

  .timeline-item:nth-child(even) .timeline-content {
    position: relative;
    left: -70%;
    align-items: flex-end !important;
    text-align: end;
  }
  .timeline-dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: .35rem solid black; 
    box-shadow: 0 0 1rem rgb(104, 110, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateZ(10px);
    background-color: rgb(104, 110, 255);
  }

  .date {
    font-size: 1rem;
    color: #ec4899;
    margin: 0;
  }

  .timeline-content span {
    font-size: 1.05rem;
    font-weight: 800;
    margin: 0;
  }

  .timeline-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(30,30,30,.75);
    padding: 10px 15px;
    border-radius: 8px;
    transform: translateZ(15px);
    transition: transform 0.3s ease;
  }

  .timeline-item:hover {
    transform: translateZ(40px) scale(1.05);  
  }
  .timeline-item:hover .timeline-dot {
    box-shadow: 0 0 2rem rgb(104, 110, 255); 
  }
  .timeline-item:hover .timeline-content {
    box-shadow: 0 0 .5rem rgb(104, 110, 255); 
  }
  .timeline-item.active {
    transform: scale(1.1);
  }
  .timeline:has(.timeline-item.active) .timeline-content {
    display: none;
  }
  .timeline:has(.timeline-item.active) .timeline-item {
    display: none !important;
  }
  .timeline-detail-card {
    margin: auto;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center;
    animation: fadeIn 1.5s ease;
    background: linear-gradient(45deg, rgba(3, 5, 20, 0.1
    ), rgba(10, 13, 55, .3));
    overflow: hidden;
    border: 2px solid #1b2c68a0;
    font-weight: 600;
    font-size: 1.4rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #e4e4e4;
    padding: 1rem 0rem 1rem 0rem;
  }
  .timeline-detail-card ul {
    text-align: left;
    margin: 1rem 0;
    padding-left: 2.5rem;
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
  }
  .timeline-detail-card .window-topbar .window-items:nth-child(3) {
    opacity: 0;
  }
  

  .location {
    color: rgb(103,114,229);
    line-height: 1rem;
  }
  
  @media (max-width:1200px) {
    .timeline-item {
      width: 30%;
    }
  }
  @media (max-width:800px) {
    .timeline-item {
      width: 36%;
    }
    .timeline-content span {
      font-size: .9rem;
      font-weight: bold;
      margin: 0;
    }
    .timeline-detail-card .window-topbar .window-items:nth-child(1) {
      opacity: 0;
    }
  }
  @media (max-width:480px) {
    .timeline-item {
      width: 40% !important;
    }
    .timeline-content span {
      font-size: .85rem !important;
    }
  }
  